/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--themes-main-color);
  font-family: var(--main-font__family), sans-serif;
  background-image: var(--themes-background__gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: var(--main-title__weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: grid;
  justify-content: center;
  width: 100vw;
  margin: 100px 0;
  border: 2px solid var(--themes-main-color);
  font-family: var(--accent-font__family), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--themes-background);
}

.header-title {
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-subtitle {
  justify-self: center;
  padding: 20px 0 25px 0;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  justify-self: center;
  padding-left: 20px;
}

.theme-menu__list {
  padding-bottom: 25px;
}

.theme-menu__item:not(:last-of-type) {
  padding-bottom: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  opacity: 1;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  margin-top: 16px;
  margin-left: -100%;
  border-bottom: 2px solid var(--themes-main-color);
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -19px;
  animation: 1s ease-in-out infinite both arrow;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border: 2px solid var(--themes-main-color);
  font-family: var(--main-font__family), sans-serif;
  background-color: var(--themes-background);
}

.card:not(:last-of-type) {
  margin-bottom: 54px;
}

.card-title {
  align-self: self-start;
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: var(--main-title__weight);
}

.card-picture {
  position: relative;
  width: min(100vw, 696px);
  height: min(100vw, 696px);
  border: 2px solid var(--themes-main-color);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.watermark {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 23px 11px 0 0;
  opacity: 0.5;
  font-family: var(--accent-font__family);
  font-size: 14px;
  text-shadow: -1px 0 var(--themes-background), 0 1px var(--themes-background),
    1px 0 var(--themes-background), 0 -1px var(--themes-background);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
  }
}

.card-text {
  padding: 27px 25px 0;
  font-size: 18px;
  font-variation-settings: var(--main-text__weight);
}

.button-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 25px;
}

.button-list__item {
  display: flex;
  align-items: center;
}

.card-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button {
  width: 39px;
  height: 36px;
  padding: 0;
  outline-color: transparent;
  transition: outline-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--themes-main-color);
  outline-color: var(--themes-main-color);
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: 2px solid var(--themes-main-color);
  padding: 8px 36px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
  outline: none;
}

.card__like-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--themes-button-color);
  font-family: var(--accent-font__family), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 48px 0 102px 0;
}

.footer__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--themes-main-color);
  padding: 15px 20px;
  box-shadow: none;
  background-color: transparent;
  background-color: var(--themes-background);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
  outline: none;
}

.footer__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.footer__button:hover::before {
  transform: scaleX(1);
}

.footer__button svg {
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
}

#floppy g {
  fill: var(--themes-button-color);
}

.footer__button-floppy {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footer__dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 30px;
  width: min(clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem), 357px);
  border: 2px solid var(--themes-main-color);
  padding: 30px 40px;
  background: var(--themes-background);
}

#footer__dialog::backdrop {
  background-color: rgba(0 0 0 / 0.7);
}

.footer__dialog-content {
  display: grid;
  align-items: center;
  gap: 20px;
}

.footer__dialog-content svg {
  grid-row: 1;
  mix-blend-mode: difference;
}

.footer__dialog-floppy {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__dialog-text {
  grid-row: -1;
  color: var(--themes-main-color);
  font-family: var(--accent-font__family), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: transparent;
}

.footer__dialog-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid var(--themes-main-color);
  padding: 9px 17px;
  box-shadow: none;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.footer__dialog-button:focus {
  outline: none;
}

.footer__dialog-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
  outline: none;
}

.footer__dialog-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.footer__dialog-button:hover::before {
  transform: scaleX(1);
}

.fliter-grayscale {
  filter: grayscale(50%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-invert {
  filter: invert(80%);
}

.filter-sepia {
  filter: sepia(90%);
}

.fliter-blur {
  filter: blur(5px);
}

.filter-hue__rotate-opacity {
  filter: hue-rotate(90deg) opacity(70%);
}

@media (width > 375px) {
  .header {
    width: min(100vw, 696px);
    margin: 100px auto;
  }

  .card {
    width: min(100vw, 696px);
    margin: auto;
  }

  .card-picture {
    width: min(100vw, 696px);
    height: min(100vw, 696px);
  }

  .watermark {
    margin: 25px 25px 0 0;
  }

  .footer {
    width: min(100vw, 696px);
    margin: auto;
  }

  .footer__button {
    flex-direction: row;
    padding: 15px 19px;
  }

  .footer__button svg {
    scale: 0.75;
  }

  #footer__dialog[open] {
    padding: 30px;
  }
}
